{% url 'home' as url_home %}
{% url 'question' as url_question%}

<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      {% if request.path == url_home %}
      <li class="nav-item"><a href="{{url_home}}" class="nav-link active" aria-current="page">Home</a></li>
      {% else %}
      <li class="nav-item"><a href="{{url_home}}" class="nav-link" aria-current="page">Home</a></li>
      {% endif %}
      {% if request.path == url_question%}
      <li class="nav-item"><a href="{% url 'question' %}?city=bruxelles" class="nav-link active" aria-current="page">Bruxelles</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'question' %}?city=bruxelles" class="nav-link" aria-current="page">Bruxelles</a></li>
      {% endif %}
      {% if request.path == url_question %}
      <li class="nav-item"><a href="{% url 'question' %}?city=anvers" class="nav-link active" aria-current="page">Anvers</a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'question' %}?city=anvers" class="nav-link" aria-current="page">Anvers</a></li>
      {% endif %}
    </ul>
  </header> 
