{% extends 'base.html' %}
{% load static  %}
{% url 'question' as url_question %}
{% block content  %}





    <div class="card" style="width: 18rem;">
      <img src="static/image/bruxelles.jpg" height="200px" width="500px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bruxelles</h5>
        <p class="card-text">Tout savoir sur ls airbnb de la ville de bruxelles</p>
        <a href="{% url 'question' %}?city=bruxelles" class="btn btn-primary">Bruxelles</a>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="static/image/anvers.jpeg" height="200px" width="500px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Anvers</h5>
        <p class="card-text">Tout savoir sur ls airbnb de la ville de Anvers</p>
        <a href="{% url 'question' %}?city=anvers" class="btn btn-primary">Anvers</a>
      </div>
    </div>
  

{% endblock content %}